.features {
    text-align: center;
    font-size: 1rem;
    padding: 2em 0;
    
    &__heading {
        color: black;
        font-weight: 200;
        font-size: 2em;
        padding-bottom: 1em;
        width: 100%;
        padding-inline: 1.5em;
    }

    &__container {
        display: block;
        margin-bottom: 2em;

        h3 {
            padding-top: 1em;
            color: black;
            letter-spacing: 0.3em;
        }

        p {
            padding-top: 0.5em;
            color: grey;
            font-family: 'Open Sans';
            text-align: center;  
            margin-right: 0.8em;
        }

        
        &__red, &__blue, &__green {
            position: relative;
            margin: 0 auto;
        }

        &__person, &__files {
            position: absolute;
            top: 0.2em;
            left: 2em;
            
        }

        &__eye{
            position: absolute;
            top: 0.8em;
            left: 2em;
        }
    }

    
    &__icon-wrapper {
        position: relative;
        width: 3em;
        height: 3em;
        margin: 0 auto 1em;
    }
}

@media (min-width: 1000px) {
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            margin-bottom: 2em;
        }

        &__content {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
        }

        &__container {
            flex: 1;
            margin-bottom: 2em;
        }

        &__container__red, &__container__blue, &__container__green {
            width: 4em;
            height: 4em;
        }

        &__container__files, &__container__eye {
            left: 1.5em;
        }
        &__container__person{
            left: 2em;
        }

        &__container p {
            font-size: 1.2rem;
            padding-left: 0;
        }
    }
}

