.header {
    display: inline-block;
    background-color: $secondary-color;
    width: 100%;
    position: relative;
    margin-bottom: 6em;
    box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.75);
    padding: 1em 1em;

    &__logo {
        font-size: 2em;
        color: $primary-color;
        display: inline-block;
        font-weight: 100;

    }

    &__menu {
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        color: $primary-color;
        position: absolute;
        right: 2em;
        top: 0.8em;
 
    }
    &__list
     {
        display: none;
        overflow: hidden;
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        letter-spacing: 0.2em;
        font-size: 0.8;
        font-weight: bold;
        
        li{
            padding-top: 1em; 
            padding-inline: 1em; 
            text-transform: uppercase;  
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: #A5A5A5;
            padding: 1em;
            display: block;
        }
        a:hover
        {
            color: black;
            border-bottom: 4px solid $primary-color;
        }
        &.visible {
            display: block;
        }
     }

     
    }
    @media only screen and (min-width: 1000px) {
    .header{
        padding: 0;
        @include flex-center;
      
        &__logo{
            margin-left: 4em;      
        }
        &__menu {
            display: none;
        }
        &__list{
            display: inline-flex !important;
            justify-content: flex-end;
            margin-right: 4em;
            
        }
        
    }
}

