.sell{
    display: block;
    font-size: 1rem;
    text-align: center;
    
    &__container{
        padding: 2em;

        &__heading{
            font-size: 3em;
            color:black;
            font-weight: 200;
            padding-bottom: 0.8em;
            
        }
    
        p{
            font-weight: 400;
            padding-bottom: 3em;
        }
    
        button{
            margin-bottom: 1.5em;
            border-radius: 3.5em;
            border: none;
            width: 70%;
            max-width: 32em;
            background-color: $primary-color;
            color: $secondary-color;
            padding: 2em;
            font-weight: bold;
            font-size: 1rem;
            box-shadow: 5px 10px 14px 0px rgba(10,126,250,0.3);
        }
    }
    
    &__bg {
        width: 100%;
        display: block;
        
        &__small{
            width: 100%;
        }

        &__big{
            display: none;
        }
        
}
}
@media only screen and (min-width: 1000px) {
    .sell{
        &__container{
            &__heading{
                font-size: 3em;
                color:black;
                font-weight: 200;
                padding-bottom: 0.8em;
                margin-right: 4em;
            }
            button {
                display: block;
                margin: 0 auto;
            }
        }
    
    &__bg{
        width: 100%;
        display: block;
    &__small{
        display: none;
    }

    &__big{
        width: 100%;
        display: block;
    }
}

}}