* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #08A6E4;
}

.header {
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  position: relative;
  margin-bottom: 6em;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  padding: 1em 1em;
}
.header__logo {
  font-size: 2em;
  color: #08A6E4;
  display: inline-block;
  font-weight: 100;
}
.header__menu {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #08A6E4;
  position: absolute;
  right: 2em;
  top: 0.8em;
}
.header__list {
  display: none;
  overflow: hidden;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .header__menu {
    display: none;
  }
}

.sell {
  display: block;
  font-size: 1rem;
  text-align: center;
}
.sell__container {
  padding: 2em;
}
.sell__container__heading {
  font-size: 3em;
  color: black;
  font-weight: 200;
  padding-bottom: 0.8em;
}
.sell__container p {
  font-weight: 400;
  padding-bottom: 1.2em;
}
.sell__container button {
  margin-bottom: 1.5em;
  border-radius: 3.5em;
  border: none;
  width: 70%;
  max-width: 25em;
  background-color: #08A6E4;
  color: white;
  padding: 2em;
  font-weight: 600;
  box-shadow: 5px 10px 14px 0px rgba(10, 126, 250, 0.3);
}
.sell__bg {
  width: 100%;
  display: block;
}
.sell__bg__small {
  width: 100%;
}
.sell__bg__big {
  display: none;
}

.features {
  text-align: center;
  font-size: 1rem;
  padding: 2em 0;
}
.features__container {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
.features__container h3 {
  padding-top: 1em;
  color: black;
}
.features__container p {
  padding-top: 0.5em;
  color: grey;
  font-family: "Open Sans";
  text-align: center;
  width: 100%;
  padding-left: 1em;
}
.features__container__heading {
  color: black;
  font-weight: 200;
  font-size: 2em;
  padding-bottom: 1em;
  width: 100%;
}
.features__container__red, .features__container__blue, .features__container__green {
  position: relative;
  width: 3em;
  height: 3em;
  margin: 0 auto;
}
.features__container__person, .features__container__files {
  position: absolute;
  top: 0.2em;
  left: 2em;
}
.features__container__eye {
  position: absolute;
  top: 0.8em;
  left: 2em;
}
.features__icon-wrapper {
  position: relative;
  width: 3em;
  height: 3em;
  margin: 0 auto 1em;
}

.cards {
  background-color: rgb(249, 249, 249);
  font-size: 1rem;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 4em;
}
.cards__container {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
  margin-top: 2em;
  border-radius: 1.2em;
  background-color: white;
  max-width: 40em;
}
.cards__container h2 {
  margin-top: 1em;
  color: black;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
}
.cards__container p {
  padding: 2em;
  text-align: justify;
}
.cards__container .red-ellipse-small {
  position: relative;
  left: 3em;
}
.cards__container .mac-mini {
  position: absolute;
  transform: translate(-6.5em, -6em);
}
.cards__container .blue-small {
  position: relative;
  top: 1em;
}
.cards__container .iphone-small {
  position: absolute;
  transform: translate(-4em, -7.3em);
}
.cards__container__green {
  background-color: #55DFB4;
  border-radius: 0.5em;
}
.cards__container .red-ellipse-big, .cards__container .mac-big, .cards__container .blue-big, .cards__container .iphone-big, .cards__container .trumpet-big {
  display: none;
}
.cards__container img.trumpet-small {
  height: 12em;
  width: 18em;
}
.cards__container .trumpet-small {
  transform: translate(-1em, 2em);
}
.cards__icon--wrapper {
  position: relative;
  margin: 0 auto 1em;
}

.pricing {
  font-size: 1rem;
  padding-top: 3em;
  text-align: left;
}
.pricing h2 {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}
.pricing__card {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.pricing__card__text-center {
  text-align: center;
  color: black;
}
.pricing__card .limited-offer {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}
.pricing__card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
.pricing__card--red {
  padding: 2em;
}
.pricing__card--blue {
  padding: 1em;
}
.pricing__card--green {
  padding: 1em;
}
.pricing__list {
  display: inline-block;
  text-align: justify;
}
.pricing__list ul {
  padding: 0;
  margin: 0;
}
.pricing__list li {
  margin-bottom: 0.85em;
  font-size: 0.8rem;
  list-style: none;
}
.pricing__list img {
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.pricing__list--red {
  margin-left: 2.5em;
}
.pricing__list--blue {
  margin-left: 1em;
}
.pricing__list--green {
  margin-left: 3em;
}
.pricing__container {
  display: block;
  border: solid 0.1em;
  border-radius: 2em;
  width: 80%;
  margin: 0 auto;
  padding: 1.5em 0;
  margin-bottom: 4em;
  position: relative;
  background-color: white;
  max-width: 40em;
}
.pricing__container--red {
  border-color: #EB476E;
}
.pricing__container--red p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #EB476E;
}
.pricing__container--red button {
  background-color: #EB476E;
}
.pricing__container--red:hover {
  box-shadow: 0px 4px 4px 0px rgb(235, 71, 110);
  width: 85%;
  max-width: 43em;
}
.pricing__container--red button:hover {
  box-shadow: 0px 4px 4px 0px rgb(235, 71, 110);
}
.pricing__container--blue {
  border-color: #07ACE6;
}
.pricing__container--blue p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #07ACE6;
}
.pricing__container--blue button {
  background-color: #007BFF;
}
.pricing__container--blue:hover {
  box-shadow: 0px 4px 4px 0px rgb(7, 172, 230);
  width: 85%;
  max-width: 43em;
}
.pricing__container--blue button:hover {
  box-shadow: 0px 4px 4px 0px rgb(7, 172, 230);
}
.pricing__container--green {
  border-color: #55DFB4;
}
.pricing__container--green p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #55DFB4;
}
.pricing__container--green button {
  background-color: #55DFB4;
}
.pricing__container--green:hover {
  box-shadow: 0px 4px 4px 0px rgb(85, 223, 180);
  width: 85%;
  max-width: 43em;
}
.pricing__container--green button:hover {
  box-shadow: 0px 4px 4px 0px rgb(85, 223, 180);
}
.pricing__container button {
  border-radius: 2em;
  color: white;
  padding: 1em 3em;
  border: none;
  font-family: "Open Sans";
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -1.5em;
  width: calc(60% - 4em);
}

.contact {
  font-size: 1rem;
  padding: 2em;
  text-align: center;
  margin-bottom: 5em;
}
.contact__container h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: 300;
}
.contact__container p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}
.contact__container__info {
  color: #A5A5A5;
  margin-bottom: 2em;
  max-width: 30em;
  margin: 0 auto;
  margin-top: 2em;
}
.contact__container__info .contact__email, .contact__container__info .contact__phone {
  margin-bottom: 1em;
  text-align: left;
}
.contact__container__info .contact__email img, .contact__container__info .contact__phone img {
  margin-right: 0.5em;
  vertical-align: middle;
}
.contact__container__info .contact__email span, .contact__container__info .contact__phone span {
  line-height: 2;
  font-size: 1rem;
  vertical-align: middle;
}
.contact__form {
  max-width: 30em;
  margin: 0 auto;
  text-align: left;
  margin-top: 3em;
}
.contact__form input[type=text], .contact__form input[type=email] {
  width: 100%;
  margin-bottom: 2em;
  border: none;
  border-bottom: 1px solid #95989a;
  padding-bottom: 3em;
  font-size: 0.7rem;
}
.contact__form input::placeholder {
  font-family: "Open Sans";
  color: #08A6E4;
  letter-spacing: 0.2em;
  font-size: 0.6rem;
  text-transform: uppercase;
}
.contact__form .checkbox-container {
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.5;
}
.contact__form__check {
  border-radius: 0.25em;
  width: 1.6em;
  height: 1.6em;
  appearance: none;
  border: 0.1em solid #707070;
  vertical-align: middle;
  margin-right: 0.5em;
  position: relative;
  top: 0.2em;
}
.contact__form__check:checked {
  background-image: url("../../images/checked.png");
  background-repeat: no-repeat;
  background-position: center;
}
.contact__form .consent {
  color: #707070;
  font-size: 0.9rem;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  margin-left: 2em;
  text-align: justify;
  transform: translateY(-1.8em);
}
.contact__form button {
  background-color: #08A6E4;
  color: white;
  padding: 1em 6em;
  border: none;
  border-radius: 2em;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1em auto 0 auto;
  display: block;
  position: relative;
  left: 10%;
}
.contact__form button:hover {
  box-shadow: 0px 4px 4px 0px rgb(7, 172, 230);
}

footer {
  padding: 1.5em 0;
  position: relative;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
footer h2 {
  width: fit-content;
  display: inline-block;
  margin-left: 1em;
  font-size: 1.8;
  font-weight: 400;
  color: #08A6E4;
}
footer h4 {
  margin-left: 2.6em;
  font-size: 0.7rem;
  font-weight: 400;
  color: #A5A5A5;
}
footer .rss {
  position: absolute;
  bottom: 35%;
  right: 10%;
}
footer .rss img {
  padding-left: 1.5em;
}

/*# sourceMappingURL=styles.css.map */
